*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Rubik', sans-serif;
}
div{
    display: block;
}
a{
    text-decoration: none;
}


/* nav bar */

.navbar{
    padding-top: 28px;
    padding-bottom: 18px;
}
.nav-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;
}
.nav-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:1rem;
}
.fixed-top{
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1030;
}
.nav-col{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
}
.list-flex{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.nav-link {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}
.nav-link:hover{
    color: #f5eff7;
}
.active{
    list-style: none;
    color: white;
    border-bottom: 2px solid #cd99d4;
}
.scrolled{
    padding-top: 10px;
    transition: all .3s ease;
    background: linear-gradient(to right, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    font-weight: bold;
}
.btn{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
    
}
.btn-outline{
    border: 2px solid white;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 8px;
}
.btn:hover{
    background-color: white;
    color: #cd99d4;
}

.bg-gradient{
    background: linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    text-align: center;
}
.btn-col{
    display: none;
}

@media (max-width:440px){
    .nav-container{
        width: 100%;
        max-width: 414px;
    }
    .list-flex{
        display: none;
        
    }
    .nav-flex{
        flex-wrap: wrap;
    }
    .navbar{
        padding-top: 22px;
    }
    .nav-col-list{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-top: -15px;
    }

    @keyframes slideDown {
        0% {
          transform: translateY(-100%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
    }
    @keyframes slideUp {
        0%{ 
            transform:translateY(100%);
            opacity:0;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }   
    }

    .menu-close{
        animation: slideUp .5s ease forwards;
    }
    .list-flex-active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;

    }
    .menu-open{
        background: linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
        text-align: center;
        animation: slideDown .3s ease forwards;


    }
    .list-row{
        flex: 0 0 100%;
        max-width:100;
        padding:20px 0;
    }
    
    .scrolled{
        padding-top: 18px;
        padding-bottom: 14px;
    }

    .btn-col{
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
        text-align: right;
        margin-top: -15px;
    }
    .nav-btn{
        text-align: right;
        background-color: transparent;
        padding:5px 10px;
        border: 1px solid #959094;
        border-radius: 5px;
    }


    .btn-active{
        border: 1px solid orange;
    }
    .resizing{
        width: 100%;
        height: 100%;
        max-width: 30px;
        max-height: 30px;
        background-color: transparent;
        stroke: rgba(255,255,255,.5);
    }
}
/* Header */

.header__container{
    width: 100%;
    text-align: center;
    padding:100px 0 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width:1140px;
    

}
.header__container h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    color: white;
    margin-bottom: 1.5rem;
}
.header__container p {
    color: white;
    font-size: 23px;
    font-weight: 300;
    max-width: 800px;
    color:#ffb8f6;
    margin:0 auto;
}
.img-holder{
    height: 0;
    padding-bottom: 40%;
    overflow: hidden;
}
.iphone-nav{
    vertical-align:middle;
    
}
.container-text{
    margin-top: 48px;
    margin-bottom:48px;
    text-align: center;
}

@media (max-width:440px) {
    .header__container{
        width: 100%;
        max-width: 414px;
    }    
    .header__container h1{
        font-size: 40px;
    }
    .header__container p{
        font-size:16px;
    }
    .img-holder{
        height: 0;
        padding-bottom:100%;
    }
    .img-nav{
        max-width: 100%;
    }
    .iphone-nav{
        width: 100%;
        height: auto;
    }
    .container-text{
        width: 100%;
        max-width: 414px;
    }

}

/* Section 1 */
.section1{
    padding: 80px 0;
    background-color: #f5eff7;
}
.section1-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;  
    
}
.section1-content{
    margin-bottom: 10px;
}
.section1-content p {
    color: #959094;
}
.section1-content h2{
    color: #633991;
    font-size: 38px;
}
.section1-flex{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 15px;
    margin-right: 15px;
}
.s1-card1{
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: white;
    margin-right: 20px;
    padding: 20px;
    padding-left:0;
    padding-right:30px;
    position: relative;
} 
.s1-card1::before{
    content: "";
    position:absolute;
    width:3px;
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4);
    top: 0;
    left: 0;
    bottom:0;
}
.s1-card1:hover{
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transform: translateY(-5px);
    transition: all .3s ease;
}
.s1-card1 [class^="ti-"], [class*="ti-"]{
    font-size: 38px;
    background-color: white;
    color: #633991;
    box-shadow: none;
}
.card-content{
    background-color: white;
}
.card-content h2{
    padding-bottom:5px; 
    padding-left:5px;   
    color: #633991;
}
.card-content p{
    padding-bottom: 5px;
    padding-left: 5px;
    color: #959094;
}
@media (max-width:440px){
    .section1-container{
        width: 100%;
        max-width: 414px;
    }
    .section1-flex{
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .s1-card1{
        margin-bottom: 20px;
    }
}
/* Section 2 */

.section2{
    padding:80px 0;
}
.section2-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
.phone{
    text-align: center;
    margin-top: -100px;
}
.section2-content{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.section2-container h2{
    font-size: 45px;    
    font-weight: 300;
    letter-spacing: -1;
    color:#633991;
    padding-bottom:20px;

}
.section2-container p{
    font-size: 20px;
    color: #959094;
    margin-bottom: 30px;
}
.columns{
    flex:0 0 50%;
    max-width: 100%;
    position: relative;
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    
}
.offset{
    margin-left: 50%;
}
.section2-btn{  
    border: 2px solid transparent;
    padding: 15px 70px;
    color: white;
    background: linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.section2-btn-prim{
    box-shadow: 0px 9px 32px 0px rgba(0, 0,0, 0.2);
}
@media (max-width:440px){
    .section2-container{
        width: 100%;
        max-width: 414px;
    }
    .section2-container h2{
        font-size: 25px;
    }
    .section2-container p{
        font-size: 16px;
        margin-right: 0;
    }
    .offset{
        margin-left: 0;
    }
    .section2-btn{
        padding: 0.6rem 2rem;
        font-size: small;
    }
    .phone {
        margin-top: 0;
    }
    .columns{
        flex: 0 0 100%;
    }
}
/* Section 3 */

.section3{
    background-color: #faf6fb;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.section3-content{
    padding-bottom: 48px;
}
.section3-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;
}
.section3-content p{
    font-size: 20px;
    color:#998a9b;
}
.section3-content h2{
    font-size:40px;
    color:#633991;
    letter-spacing: -1;
    margin-bottom: 0.6rem;
}   
.section3 ul {
    list-style: none;
}
.section3-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: -30px;
}
.section3-items{
    background-color: #f5eff7;
    padding:35px 87px;
    margin-bottom:3px;
    font-size: 19px;
    font-weight: 600;
    color: #633991;
    cursor: pointer;
}
.section3-nav-link{
    font-size:19px;
    font-weight: bold;
    color: #633991;
}

.tab-content{
    margin-top:33px;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
    padding:3rem;
    display: none;
}
.S3-active{
    background-color: white;
    border-top:3px solid;
    border-color: #ce75b4 #faf6fb #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}
.show{
    display:block
}
#communicate .flex{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}
#scheduling .flex{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}
#messages .flex{
    display: flex;
    flex-direction: row;
    align-items: start;
}
#live-chat .flex{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}
.flex img{
    margin-right: 40px;
}
.tab-data h2{
    font-size: 35px;  
    font-weight: 300;
    letter-spacing: -1;
    color: #633991;  
    padding-bottom: 1.5rem;
    text-align: left;
}
.tab-data p{
    font-size: 20px;
    text-align: left;
    color: #cd99d4;
    padding-bottom: 1.5rem;
    line-height: 1.8;
}
.tab-active{
    display: block;
    animation: fadeIn .40s;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width:440px) {

    .section3-container{
        width: 100%;
        max-width:414px
    }

    .flex{
        flex-direction: row;
    }
    .flex-img{
        margin-right: 0;
    }
    #communicate .flex{
        flex-direction: column-reverse;
    }
    #scheduling .flex{
        flex-direction: column-reverse;
    }
    #messages .flex{
        flex-direction: column;
    }
    #live-chat .flex{
        flex-direction: column-reverse;
    }
    .section3-items{
        padding: 30px 20px;
        width: 50%;
    }
}

/* Section 4 */

.section4{
    padding: 80px 0;
}
.S4-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;
}
.S4-flex{
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: start;
    align-items: center;
}
.col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.S4-content{
    text-align: left;
}
.S4-content h2{
    font-size: 45px;
    font-weight: 400;
    color: #633991;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}
.S4-content p{
    margin-bottom: 1.5rem;
    color:#959094
}
.S4-btn{
    padding: 10px 30px;
    background-color: #e54595;
    color: #ffff;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.S4-btn:hover{
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}
.box-icon{
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    /* padding: 10px; */
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    text-align: center;
}

.box-icon [class^="ti-"], [class*="ti-"]{
    font-size: 3rem;
    font-family: 'themify';
    font-style: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
}
.icon-fill::before{
    color:#ce75b4;
    background-image: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
@media (max-width:440px){
    .S4-container{
        width: 100%;
        width: 414px;
    }
    .S4-flex{
        flex-direction: column;
    }
}

/* Section 5 */

.section5{
    padding:20px 0;
    background-color: #faf6fb;
}
.section-5{
    padding:20px 0;
    background-color: #faf6fb;
}
.section5-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;

}
.section5-flex{
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: left;
}
.section5 .img-nav{
    max-width: 100%;
}
.media{
    list-style:none;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.media-body{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;  
    align-items: center;
    margin-bottom: 1.5rem;
}
.circle-icon{
    padding:10px;
    font-size: 38px;
    font-weight: 300;
    line-height: 80px;
    text-align: center;
    /* margin-bottom: 1.5rem; */
    margin-right: 1.5rem;
    width:150px;
    height:100px;
    border-radius: 50%;
    background-color: white;
    color: #e54595;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    align-items: center;
}
.section5-content h2{
    color: #633991;
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 10px;
}
.section5-content p{
    color:#959094
}
.section5 ul li:not(:last-child){
    border-bottom:2px solid #f5eff7;
}

li:hover .circle-icon{
    background-image:linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    color: #f5eff7;
    transition: all .5s ease;
}

@media (max-width:440px){
    .section5-container{
        width:100%;
        max-width: 414px;
    }
    .section5-content h2{
        font-size: 24px;
    }
    .section5-flex{
        flex-direction: column;
    }
    .media-body{
        align-items: start;
    }
    .circle-icon{
        display: flex;
        justify-content: center;
        width:100px;
        height:100px;
        padding: 30px;
    }
    .section5-container{
        font-size: 14px;
    }
    .section5-flex.img-nav{
        max-width: 100%;
        height: auto;
    }
}
/* section 6 */

.section6{
    padding:80px 0;
    /* background-color: white; */
}
.section6-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;

}
.section6-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.section6-content{
    text-align: center;
    display: none;
}
.section6-title{
    margin-bottom: 3rem;
}
.section6-title p {
    color:#959094;
} 
.section6-title h2{
    color: #633991;
    font-size: 32px;
    /* font-weight:300; */
}
.client-img{
    width:120px;
    margin:30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}
.blockquote{
    font-size: 24px;
    color: #959094;
    margin-bottom: 1.5rem;
}
.section6-content h4{
    font-size: 25px;
    font-weight: 300;
    color: #633991;
    margin-bottom: 10px;
}
.section6-content small{
    font-size: 16px;
    color: #ce75b4;
}
.section6-flex [class^="ti-"], [class*="ti-"]{
    font-size: 15px;
    color:#333;
    box-shadow: none;
}
.S6-active{
    display: block;

}
.S6-fade-in{
    animation:fade-In .5s;
}
.S6-fade-out{

    animation: fade-Out .5s;
}
@keyframes fade-Out {
    0% {
        opacity: 0;
        transform: translateX(-1100px);
    }
    100%{
        opacity: 1;
        transform:translateX(0px);
    }
    
}
@keyframes fade-In {
    0% {
        opacity:0;
        transform: translateX(1100px);
    }    
    100%{
        opacity: 1;
        transform:translateX(0px)
    }
}
@media (max-width:440px){

    .section6-container{
        width: 100%;
        max-width: 414px;
    }
    .blockquote{
        font-size: 20px;
    }
}

/* Section 7 */

.section7{
    padding: 80px 0;
    background-color: #faf6fb;

}
.section7-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;   
}

.section7-title{
    padding-top: 80px;
}
.section7-title p{
    padding-bottom: 10px;
    font-size: 16px;
    color:#959094;
}
.section7-title h2{
    font-size: 36px;
    color: #633991;
    font-weight: 200;
    padding-bottom: 50px;
}
.section7-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.S7-slider-dots{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
}
.dots{
    background-color: #bfb3c0;
    height: 10px;
    width: 40px;
    margin: 0 5px;
    border-radius: 14px;
    transition: all 0.3s ease;
}
.dots:hover{
    background-color: #e6388e;
    transition: all .3s ease;
    cursor: pointer;
}
.dot-active{
    background-color: #e6388e;
}

.slider-hidden{
    display: none;

}
.slider-show{
    display: block!important;
    opacity: 1;
    padding:0 20px;
    width:370px;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease
}
.slider-active{
    display: block;
    width:100%;
    transform: translateY(-20px);
    transition: opacity 3s ease, transform 1s ease
}
@media (max-width:440px){
    .slider-show{
        display: none !important;
    }
    .slider-active{
        width: 80%;
    }
}

/* Section 8 */

.section8{
    padding: 80px 0;
}
.section8-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;  
}
.section8-title p{
    font-size: 16px;
    color: #959094;
}
.section8-title h2{
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 36px;
    color: #633991;

}
.section8-flex{
    display: flex;
    flex-direction: row wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: space-evenly;
}
.card{
    border: 1px solid #f1eef1;
    padding:2.5rem;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
}
.card-head{
    margin-bottom:2rem;
}
.card-head p{
    font-size: small;
    color: #ce75b4;
    margin-bottom:10px;
    
}
.price{
    font-size: 42px;
    color: #633991;
    font-weight: 300;
}
.card-body ul{
    list-style: none;
}

.card-items{
    padding: 1.05rem 1.25rem;
    color: #998a9b;
}
.card-btn{
    padding: 1.25rem 1rem;
}
.card-link{
    font-size: 16px;
    padding:15px 0;
    padding-left:50px;
    padding-right: 50px;
    font-weight:bold;
    border-radius: 3px;
    color: white;
    background-color: #e54595;
}
.popular{
    box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
    /* background-color: white; */
    border-top-width: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-color: #ce75b4; 
}
.card-link:hover{
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    padding:15px 50px;
    border: 0;
}

@media (max-width:440px){
    .section8-container{
        width: 100%;
        max-width:414px;
    }
    .section8-flex{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom: 15px;
    }

}

/* section 9 */

.section9{
    margin-bottom:80px;
}
.section9-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;  
}
.section9-title{
    margin-bottom: 40px;
}
.section9-title p{
    color: #959094;
    font-size: 14px;
    padding-bottom: 10px;
}
.section9-title h2{
    color: #633991;
    font-size: 38px;
}
.section9-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: justify;
}
.s9-col{
    flex: 0 0 50%;
    max-width: 50%;
}
.FAQ{
    padding:30px;
}
.s9-col h2{
    font-size: 20px;
    color: #633991;
    padding-bottom: 5px;
}
.s9-col p{
    color:#959094;
}

@media (max-width:440px){
    .section9-container{
        width: 100%;
        max-width: 414px;
    }
    .section9-flex{
        flex-direction: column;
        
    }
    .s9-col{
        justify-content: left;
        max-width: 100%;
    }
}
/* section 10 */

.section10{
    padding:60px 0;
    background: linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    text-align: center;
}
.section10-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;  
}
.section10-content{
    padding: 80px 0;
}
.s10-box-icon [class^="ti-"], [class*="ti-"]{
    font-family: 'themify';
    font-size: 2rem;
    background-color: white;
    padding:10px;
    border-radius: 3px;
    box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
}

.s10-box-icon{
    margin-bottom: 3.5rem;
}
.section10-content h2{
    /* padding-top: 50px; */
    color: white;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: -1;
    margin-bottom: 1.5rem;
}

.section10-content p{
    font-size: 16px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 650px;
    margin: 0 auto;
}

.btn-flex{
    display: flex;
    flex-direction: row;
    /* padding: 40px; */
    justify-content: center;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;

}

.section10-btn{
    margin-right:15px;
    margin-left:15px
}
.section10-link{
    padding: 20px 30px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    color: #633991;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    white-space: nowrap;
    text-decoration: none;
}
.section10 img{
    padding-right:10px;
    align-items: center;
}
.section10-link:hover{
    background-color:#f1eef1;
    transition:all .3s ease;
}
.section10-link:active{
    border: 2px solid #cd99d4;
    color: #ce75b4;
}
@media (max-width:440px){
    .section10-container{
        width:100%;
        max-width: 414px;
    }
}

/* Section 11 */

.section11{
    padding: 40px 0;
    background-color: #f1eef1;
}
.section11-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;  
}

.section11-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.ti-location-pin{
    background-color:#f1eef1;
    color: #959094;
    margin:0;
    padding:0;
    font-size: 14px;
}
.address p{
    color: #959094;
    padding-bottom: 8px;
}
.ti-email{
    background-color:#f1eef1;
    color: #959094;
    margin:0;
    padding:0;
    padding-left: 30px;
    font-size: 14px;
    text-align: left;
}
.s11-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.s11-row a{
    padding-left:8px;
    color: #e54595;
}
.ti-headphone{
    background-color:#f1eef1;
    color: #959094;
    margin:0;
    padding:0;
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
}
.s11-col{
    flex: 50%;  
    text-align: right;
}
.s11-row-v2{
    display:flex;
    flex: 1 0 50%;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;

}
.ti-facebook{
    font-size:20px;
    color: #cd99d4;
    margin-left: 4px;
    margin-right: 4px;
}
.ti-facebook:hover{
    color:#e6388e;
    transition: all .5s ease;
}
.ti-twitter{
    font-size: 20px;
    color:#cd99d4;
    margin-left: 4px;
    margin-right: 4px;

}
.ti-twitter:hover{
    color:#e6388e;
    transition: all .5s ease;

}
.ti-instagram{
    font-size: 20px;
    color: #cd99d4;
    margin-left: 4px;
    margin-right: 4px;
}
.ti-instagram:hover{
    color:#e6388e;
    transition: all .5s ease;

}
.s11-row-v2 a{
    text-decoration: none;
}
@media (max-width:440px){
    .section11-container{
        width: 100%;
        max-width: 414px;
    }
    .section11-flex{
        flex-direction: column;
        justify-content: center;
    }
    .s11-row{
        flex-direction: column;
        font-size: 16px;
    }
    .s11-row-v2{
        justify-content: center;
    }
    .ti-headphone{
        padding-left: 0;
    }
    .ti-email{
        padding-left: 0;
    }
}


/* Footer */

.Footer{
    margin: 60px 0;
}
.footer-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 1140px;  
}

.footer-content p{
    padding-bottom: 10px;
    color: #959094;
}
.footer-content a{
    padding: 0.5rem;
    color: #ce75b4;
    text-decoration: none;
}

@media (max-width:440px){
    .footer-container{
        width: 100%;
        max-width: 414px;
    }
    .footer-content{
        font-size: 12px;
    }
}
